@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    @media screen {
        transition: .5s;
    }
}
html{
	overflow-x: hidden;
	scroll-padding-top: 7rem;
	scroll-behavior:smooth ;
}

html::-webkit-scrollbar{
	width: .7rem;
}

html::-webkit-scrollbar-track{
    background: #111;
}
html::-webkit-scrollbar-thumb{
	background: rgb(122, 141, 115);
	border-radius: 5rem;
}
.every{
    background-color: rgb(226, 226, 226);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: #222;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
  }
  .navbar .logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
  }
  nav .navbar .links{
    display: flex;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
  }
  nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(180deg);
    }
  
  nav .navbar .links li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #222;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: block;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
  }
  .navbar .links li .htmlCss-more-sub-menu{
    /* line-height: 40px; */
  }
  .navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .search-box{
    position: relative;
     height: 40px;
    width: 40px;
  }
  .navbar .search-box i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar .search-box .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #222;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .navbar.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #111;
  }
  .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #111;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
  }
  .search-box .input-box input{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
  }
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }
/* hero section css */

.main{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(img/04.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: 1300px;
    padding: 0 50px;
}
.main__content h1{
    font-size: 5rem;
    background-color: rgb(174, 228, 174);
    background-image: linear-gradient(to top, #880808 0%, rgb(122, 141, 115)100%);
	background-attachment: fixed;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: whitesmoke;
}
.main__btn{
    width:10rem;
    padding: 10px 0;
    text-align: center;
    margin: 0px 10px;
    border-radius: 25px;
    border: 2px solid rgb(122, 179, 122);
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: #fff;
    z-index: 1;
}

.main__img--container{
    text-align: center;
}

#main__img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}


/* variety section */
.services{
    background: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
}
.services h1{
    background-image: linear-gradient(to top, #a51515,rgb(174, 228, 174) 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.services__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
}
.services__card{
    margin: .8rem;
    height: 425px;
    width: 300px;
    border-radius: 1rem;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),url(img/know.jpg); 
    background-size: cover;
    position: relative;
    color: black;
    transition: .3s;
}
.services__card:nth-child(2){
   background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),url(img/yes.jpg); 
}
.services__card:nth-child(3){
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),url(img/03.jpg); 
}
.services__card:nth-child(4){
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),url(img/02.jpg); 
}
.services h3{
    position: absolute;
    top: 200px;
    left: 49px;
    color: rgb(113, 192, 113);
    text-align: center;
}
.services p{
    position: absolute;
    top: 255px;
    left: 10px;
    color: whitesmoke;
    text-align: center;
}
.services__card button{
    color: black;
    outline: none;
    top: 340px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0,35s;
    text-decoration: none;
    padding: 6px 15px;
    margin: 20px 10px 0 -10px;
    border-radius: 25px;
    border: 2px solid rgb(122, 179, 122);
    background: transparent;
    position: absolute;
    overflow: hidden;
}
.btn a{
    position: relative;
    margin: 10px;
    color: #333;
    font-weight: 1000;
    font-size: 1.3rem;
}
.btn a:hover{
    color: rgb(3, 172, 3);
    text-decoration: none;
}
.services__card button:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(122, 179, 122);
    transition: all 0.3s;
    border-radius: 25px;
    color: black;
}
.services__card button:hover{
    color: black;
}
.services__card button:hover:after{
    width: 100%;
}
.services__card button a{
    position: relative;
    z-index: 2;
    color: whitesmoke;
    text-decoration: none;
}
.services__card:hover{
    box-shadow: 0 12px 16px rgba(21, 36, 97, 0.1);
    cursor: pointer;
    margin-top: .6rem;
    transition: ease .3s;
}

/* footer */
.footer{
	background:#111 ;
    overflow: hidden;
}

.footer .box-container{
    margin: 3rem 0px 0px 8rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.footer .box:nth-child(2){
    margin-bottom: 20px;
}
.footer .box:nth-child(3){
    margin-bottom: 20px;
    
}
.footer .box-container .box h3{
	font-size: 1.5rem;
	padding: 1rem;
	color: #b32323;
}

.footer .box-container .box a{
	display: flex;
	font-size: 1rem;
	padding: 1rem 0;
	color: #eee;
    text-decoration: none;
}

.footer .box-container .box a i {
	padding-right: .5rem;
	color: rgb(113, 192, 113);
	font-size: 1.4rem;
}

.footer .box-container .box a:hover i{
	padding-right: 1rem;
	color: #fff;
    text-decoration: none;
}

.footer .credit{
	text-align: center;
	border-top: .1rem solid #222;
	color: #ffffffd5;
	padding: 1rem;
	margin-top: 1rem;
	font-size: 1rem;
}
.footer .credit span{
    padding-right: .3rem;
    color: rgb(113, 192, 113);
	font-size: 1.1rem;
}

/* Testimonials */
#test_what{
    margin-top: -220px;
}
.testimonials
{
    margin-bottom: -450px;
    margin: 50px auto;
    background-color: rgb(226, 226, 226);
    padding: 20px;
}
.testimonials h1
{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #a51515;
    padding-bottom: none;
    text-transform: uppercase;
    border: 1px 0 black;
    border-radius: 6px;
}
.testimonials h1::after
{
    content: '';
    background: rgb(113, 192, 113);
    display: block;
    height: 3px;
    width:  170px;
    margin:  20px auto 5px;
}

.testimonials .row
{
    margin-top: 50px;
}
.col-md-4
{
    margin: 30px auto;
}
.profile
{
    padding: 50px 5px 10px;
    background-color: rgb(209, 207, 207);
    border-radius: 1cm;
    transition: 1s;
}
.profile img
{
    top: -80px;
    margin: 0 -80px -10px;
    position: absolute;
    border: 1px solid rgb(209, 207, 207);
    transition: 1s;
}
.user
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profile h3
{
    font-size: 20px;
    margin-top: 15px;
    color: #a51515;

}
span 
{
    font-size: 12px;
    color: #131313;
}
blockquote
{
    color:rgb(113, 192, 113);
}
.profile:hover
{
    box-shadow: 0 12px 16px rgba(35, 59, 155, 0.1);
    transition: 1s ease-in-out;
    cursor: pointer;
    transform: scale(1.075);
}


/*about us css*/
.about-1{
    margin: 0px 0 100px 0;
    padding: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(img/04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.about-1:nth-child(2){
    margin: 60px 0 0px 0;
    padding: 50px;
}
.about-1:nth-child(3){
    margin: 60px 0 0px 0;
    padding: 50px;
}
.about-1 h1{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #a31d1d;
}
.about-1 p{
    text-align: center;
    padding: 5px;
    color: #fff;
}
.about-1 p span{
    padding: 5px;
    font-size: 0.8rem;
    color: green;
}
.about-1 ul li{
    display: inline;
    text-align: center;
    padding: 5px;
    color: #a51515;
}
#about-2 h2{
    margin: 100px 0 -20px;
    text-align: center;
    color: #a51515;
    font-weight: bold;
}
.about-item{
    margin-bottom: 20px;
    background-color: rgb(226, 226, 226);
    padding: 80px,60px;
    box-shadow: 0 0 9px rgba(0,0,0 .6);
    height: 8cm;
    border: none;
    border-radius: 1cm;
}

.about-item h3{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: sans-serif;

}
.about-item hr{
    width: 46px;
    height: 3px;
    background-color: black;
    margin: 0 auto;

}
.about-item p{
    margin-top: 30px;
    font-family: sans-serif;
    padding: 8px;
    font-size: 20px;
}
.about-item:hover{
    box-shadow: 0 0 4px 4px black;
    transform: scale(1.03);
    transition: 0.25s ease-in-out;
    cursor: pointer;
}
.about-item:hover h3,
.about-item:hover p{
    transition: all 400ms ease-in-out;
}

.about-item:hover hr{
    background-color: black;
    transform: scale(1.100);
    transition: 0.25s ease-in;
    cursor: pointer;
}
.about-item:hover i{
    transform: translateY(-20px);
}

/* styling for contact Us page */
.contact{
    margin-top: 200px;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}
.contact_content{
    max-width: 800px;
    text-align: center;
}
.contact_content h1{
    font-size: 36px;
    color: #a51515;
    font-weight: 500;
    text-align: center;
    padding-bottom: none;
    text-transform: uppercase;
    border: 1px 0 black;
    border-radius: 6px;
}
.contact_content h1::after
{
    content: '';
    background: rgb(113, 192, 113);
    display: block;
    height: 3px;
    width:  170px;
    margin:  20px auto 5px;
}
.contact_content p{
    margin: 20px;
    color: black;
}
.contact_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: -500px;
    margin-left: -190px;
    padding: 0px;
}

.contact_icon {
    min-width: 33px;
    height: 33px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px; 
    color: rgb(113, 192, 113);
    text-decoration: none;
}
.contact_icon a{
    min-width: 30px;
    height: 30px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px; 
    color: rgb(113, 192, 113);
}
.contact_icon a:hover{
    background: rgb(113, 192, 113);
    transition: 0.25s ease-in;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.contact_icon:hover{
    background: rgb(113, 192, 113);
    transform: scale(1.100);
    transition: 0.25s ease-in;
    cursor: pointer;
    color: black;
}
.contactInfo{
    margin-right: 300px;
}

.contact_box{
    position: relative;
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.contact_text{
    display: flex;
    margin-left: 10px;
    color: black;
    flex-direction: column; 
}
.contact_text h5{
    color: #a51515;
}
.contact_text p{
    font-weight: 500;
    font-size:.9rem;
    color: black;
}
/*swiper*/

.container_swipe{
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 1rem 0 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.popular__container {
    padding: 1rem 0 5rem;
    margin: 0px 10px 10px 10px;
}
.popular__card{
    background-color: var(--container-color);
    padding: .5rem .5rem 1.5rem;
    border-radius: 1rem;
    transition: .5s;
    position: relative;
    width: 420px;
    margin: -5px 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    height: 950px;
}
.popular__card:hover{
    cursor: pointer;
    transition: .5s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.popular__data{
    padding: 0 1rem 0 .5rem;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}
.pclas{
    margin-top: 10px;
    align-items: center;
    display: flex;
    font-size: smaller;
    font-size: 14px;
}
.pclas i{
    font-size: 20px;
    margin: 0 5px;
    color:#222;
}
.pclas .fa-instagram{
    color: rgb(206, 35, 44);
}
.popular__price{
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: .25rem;
    font-weight: bold;
}
.popular__price span{
    color: #222;
    font-size: 18px;
    font-weight: bolder;
}
.popular__title{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: .75rem;
    text-align: center;
    font-weight: bold;
}
.popular__description span{
    color: rgb(3, 172, 3);
}
.popular__description_p{
    font-weight: bold;
    color: rgb(3, 172, 3);
}

.swiper{
    width: 400px;
    height: 470px;
    border: 2px solid transparent;
    border-radius: 8px;
}
.swiper-slide img{
    margin-bottom: 1rem;
    width: 400px;
    height: 500px;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
}
.swiper .swiper-pagination-bullet-active{
    background: #fff;
}
/*property link*/
.link-box-container {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    margin: 10px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.for-sale {
    background-color: #28a745; /* Green */
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.75)),url(img/05.jpg); /* Add a background image */
}

.for-rent {
    background-color: #ffc107; /* Yellow */
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.75)),url(img/04.jpg); /* Add a background image */
}

.for-lease {
    background-color: #007bff; /* Blue */
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.75)),url(img/03.jpg); /* Add a background image */
}

.link-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s;
}

.link-box:hover::before {
    opacity: 1;
}

.link-box:hover {
    transform: scaleX(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fff;
    padding-right: -5px;
    transition: .4s;
}

.link-box span {
    position: relative;
    z-index: 2;
}

/*video*/
.video-container {
    position: relative;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 40px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
}

.play-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.play-button:focus {
    outline: none;
}


h1, h2 {
    color: #fff;
}
.faq{
    margin-top: 30px;
    margin-bottom: 20px;
}
.faq ul{
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}
.faq ul li{
    margin-bottom: 10px;
    color: #999;
    font-size: 1rem;
}
.contact p {
    margin: 5px 0;
}

/* accordion*/
.accordion{
    position: relative;
}
.accordion-item {
    margin-bottom: 10px;
}
.accordion-button {
    background-color: #eeeeee;
    color: rgb(122, 179, 122);
    cursor: pointer;
    border: none;
    padding: 10px;
    text-align: center;
    outline: none;
    width: 100%;
    font-size: 16px;
    position: relative; /* Ensure the button has relative positioning */
    justify-content: center;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #eeeeee;
    padding: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: absolute; /* Ensure the content overlays other structures */
    z-index: 1; /* Ensure the content is above other elements */
    justify-content: center;
}
.accordion
.accordion-button.active, .accordion-button:hover {
    background-color: whitesmoke;
    border: none;
}
.accordion-content.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    overflow-y: auto;
}
/*
.blink {
    animation: blinker 0.6s linear infinite;
    color: #1c87c9;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  @keyframes blinker-one {
    0% {
      opacity: 0;
    }
  }
  @keyframes blinker-two {
    100% {
      opacity: 0;
    }
  }

/*responsive*/
@media (max-width: 1300px){
    .services{
        margin-bottom: 20rem;
    }
}
@media (max-width: 900px){
    nav .navbar{
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a{
        font-size: 27px;
    }
    nav .navbar .links li{
        padding: 0 10px;
        white-space: nowrap;
    }
    nav .navbar .links li a{
        font-size: 15px;
    } 
    nav .navbar .links .links li{
        display: inline-block;
    } 
    .services__container{
        margin-bottom: 10rem;
    }
    .services h1{
        font-size: 2rem;
        margin-top: 12rem;
    }
    .contact{
        padding: 100px;
        width: 100%;
    }
    .contact_container{
        margin-left: -600px;
        flex-direction: column;
    }
    .contactInfo:nth-child(1){
        margin-bottom: 80px;
        margin-left: 260px;
    }
    .contactInfo{
        margin-bottom: 40px;
        margin-left: 200px;
    }
    .container_swipe{
        display: block; 
        padding: 2px 5px 2px 0;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
    }
    .popular__container {
        padding: 1rem 0 5rem;
        margin: 0 10px 10px 10px;
    }
    .popular__card{
        width: 420px;
        position: relative;
        padding: .5rem .5rem 1.5rem;
        border-radius: 1rem;
        margin: 0 auto;
        transition: 1s;
    }
    .swiper-slide img{
        width: 400px;
        height: 500px;
        margin-bottom: 2rem;
    }
    .swiper{
        width: 400px;
        height: 470px;
    }
    footer{
        margin-top: 10rem;
    }
}
@media (max-width:800px){
    nav{
      /* position: relative; */
    }
    .navbar .bx-menu{
      display: block;
    }
    nav .navbar .nav-links{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background:  #222;
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sidebar-logo .logo-name{
      font-size: 25px;
      color: #fff;
    }
      .sidebar-logo  i,
      .navbar .bx-menu{
        font-size: 25px;
        color: #fff;
      }
    nav .navbar .links{
      display: block;
      margin-top: 20px;
    }
    nav .navbar .links li .arrow{
      line-height: 40px;
    }
  nav .navbar .links li{
      display: block;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
      display: none;
    }
    .navbar .links li .sub-menu .more span{
      /* background: red; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
    }
  
    .links li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu{
      display: none;
    }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show2 .links .js-sub-menu{
        display: block;
      }
      .navbar .nav-links.show1 .links .htmlcss-arrow,
      .navbar .nav-links.show2 .links .js-arrow{
          transform: rotate(180deg);
    }
  }

@media(max-width: 720px){
    .main__container{
        background-size: cover;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 98vh;
    }
    .main{
        width: 100%;
        height: 100vh;    
    }
    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }
    .main__content h1{
        font-size: 4rem;
        margin-top: 2rem;
    }
    .main__content h2{
        font-size: 3rem;
    }
    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    .contact{
        padding: 100px;
        width: 100%;
    }
    .contact_container{
        margin-left: -600px;
    }
    .contactInfo:nth-child(1){
        margin-bottom: 40px;
        margin-left: 260px;
    }
    .contactInfo{
        margin-bottom: 40px;
        margin-left: 200px;
    }
    #sbody{
        background-color: whitesmoke;
    }
    .services__container{
        margin-bottom: 10rem;
    }
    .container_swipe{
        display: block; 
        padding: 2px 5px 2px 0;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
    }
    .popular__container {
        padding: 1rem 0 5rem;
        margin: 0 10px 10px 10px;
    }
    .popular__card{
        width: 420px;
        margin: auto auto -50px auto;
    }
    .swiper-slide img{
        width: 400px;
        height: 500px;
        margin-bottom: 2rem;
    }
    .swiper{
        width: 400px;
        height: 470px;
    }   
    footer{
        margin-top: 10rem;
    }
}

    /*@media(max-width: 660px){
    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main__content h2{
        font-size: 2rem;
    }
    .main__content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
    .footer-col{
        width:100%;
    }
    .footer p{
        margin: 7px 0 -37px 15%;
    }
    .services{
        height: 1400px;
    }
    .services h1{
        font-size: 1.2rem;
    }
    .services__card{
        width: 300px;
    }
    .services p{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .about-item{
        width: 8cm;
        padding: 3px;
    }
    .about-1 p{
        padding: 5px;
    }
    form button{
        width:200px;
        margin-left: -10px;
    }

    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main__content h2{
        font-size: 2rem;
    }
    .main__content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
    .footer-col{
        width:50%;
        margin-bottom: 30px;
    }
    .footer p{
        margin: 7px 0 -37px 25%;
    }
    .services{
        height: 1400px;
        margin-bottom: -150px;
    }
    .services h1{
        font-size: 1.2rem;
    }
    .services__card{
        width: 300px;
    }
    .services p{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .about-item{
        width: 8.5cm;
        padding: 1px;
        margin-bottom: -50px;
    }
    .about-1 p{
        padding: 5px;
    }
    .testimonials{
        margin: -20px auto;
        background-color: whitesmoke;
        margin-bottom: -450px;
    }
    .profile img{
        top: -60px;
        position: absolute;
        left: 120px;
        right: 32.5%;
    }
    .contact_container{
        margin-left: -560px;
    }

    .col-md-4_text-center{
        margin-bottom: 10px;
    }
    */
@media(max-width: 655px)
{
    form button{
        width:200px;
        margin-left: -10px;
    }
    .contactInfo h4{
        font-size: 20px;
    }
    .main__content h1{
        font-size: 3rem;
        margin-top: 3rem;
    }
    .main__content h2{
        font-size: 2rem;
    }
    .main__content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
    .services h1{
        font-size: 1.2rem;
    }
    .services__container{
        margin-bottom: 10rem;
    }
    .services__card{
        width: 300px;
    }    
    .services p{
        margin-top: 20px;
        margin-bottom: 5px;
    }    
    .testimonials
    {
        margin-bottom: -450px;
        margin: 50px auto;
    }
    .profile img{
        top: -60px;
        position: absolute;
        left: 150px;
        right: 32.5%;
    }
    .contact{
        padding: 100px;
        width: 100%;
    }
    .contact_container{
        margin-left: -550px;
    }
    .contactInfo:nth-child(1){
        margin-bottom: 40px;
        margin-left: 260px;
    }
    .contactInfo{
        margin-bottom: 40px;
        margin-left: 200px;
    }
    #test_what{
        margin-top: 700px;
    }
    .container_swipe{
        display: block; 
        padding: 2px 5px 2px 0;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
    }
    .popular__card{
        width: 420px;
        margin: auto auto -50px auto;
    }
    .popular__description_p{
        text-align: center;
    }
    .swiper-slide img{
        width: 400px;
        height: 460px;
        margin-bottom: 2rem;
    }
    .swiper{
        width: 400px;
        height: 470px;
    }
    footer{
        margin-top: 10rem;
    }
}
@media(max-width: 651px){
    .services{
        margin-bottom: 80rem;
    }
}
@media(max-width: 580px)
{
    form button{
        width:200px;
        margin-left: -10px;
    }
    .contactInfo h4{
        font-size: 20px;
    }
    .main__content h1{
        font-size: 3rem;
        margin-top: 3rem;
    }
    .main__content h2{
        font-size: 2rem;
    }
    .main__content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
    .contact{
        padding: 100px;
        width: 100%;
    }
    .contact_container{
        margin-left: -500px;
    }
    .contactInfo:nth-child(1){
        margin-bottom: 40px;
        margin-left: 260px;
    }
    .contactInfo{
        margin-bottom: 40px;
        margin-left: 200px;
    }
    .services h1{
        font-size: 1.2rem;
    }
    .services{
        margin-bottom: 65rem;
    }
    .services__card{
        width: 300px;
    }
    .services p{
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .services__container{
        margin-bottom: 10rem;
    }
    .about-item{
        width: 8.5cm;
        padding: 1px;
        margin-bottom: -50px;
    }
    .about-1{
        padding: 0;
    }
    .profile img{
        top: -60px;
        position: absolute;
        left: 150px;
        right: 32.5%;
    }
    #test_what{
        margin-top: 700px;
    }
    .container_swipe{
        display: block; 
        padding: 2px 5px 2px 0;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
    }
    .popular__card{
        width: 390px;
        margin: auto auto -50px auto;
    }
    .popular__description_p{
        text-align: center;
    }
    .swiper-slide img{
        width: 370px;
        height: 450px;
        margin-bottom: 2rem;
    }
    video{
        height: 450px;
    }
    .swiper{
        width: 370px;
        height: 450px;
    }
    .footer .box-container{
        margin: 3rem 4rem ;
    }
    footer{
        margin-top: 10rem;
    }
}

@media(max-width: 400px){
    .profile img{
        top: -60px;
        position: absolute;
        left: 125px;
        right: 32.5%;
    }
    .contact{
        padding: 100px;
        width: 100%;

    }
    .contact_container{
        margin-left: -400px;
    }
    .contactInfo:nth-child(1){
        margin-bottom: 80px;
        margin-left: 200px;
    }
    .contactInfo{
        margin-bottom: 40px;
        margin-left: 150px;
    }
    .btn a{
        margin-bottom: 50rem;
    }
    #test_what{
        margin-top: 700px;
    }
    .container_swipe{
        display: block; 
        padding: 2px 5px 2px 0;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
    }
    .services__card button{
        left: 105px;
        top: 355px;
    }
    .services{
        margin-bottom: 70rem;
    }
    .services__container{
        margin-bottom: 10rem;
    }
    .services__card h3{
        margin-right: 50px;
    }
    .popular__card{
        width: 350px;
        margin: auto auto -50px auto;
    }
    .swiper-slide img{
        width: 330px;
        height: 390px;
        margin-bottom: 2rem;
    }
    .swiper{
        width: 330px;
        height: 400px;
    }
    .services{
        margin-bottom: 70rem;
    }
    video{
        height: 400px;
    }
    .popular__description_p{
        text-align: center;
    }
    .popular__description span{
        text-align: center;
        margin-left: 2px;
    }
    .footer .box-container{
        margin: 3rem 3rem ;
    }
    footer{
        margin-top: 10rem;
    }
}
@media(max-width: 360px){
    .popular__card{
        width: 290px;
        margin: auto auto -50px auto;
    }
    .contact{
        padding: 100px;
        width: 106%;
        margin-left: -8px;
    }
    .contactInfo:nth-child(1){
        margin-bottom: 40px;
        margin-left: 210px;
    }
    .contactInfo{
        margin-bottom: 40px;
        margin-left: 160px;
    }
    .contact_text p{
        margin-left: -20px;
        font-size: smaller;
    }
    .about-1 h1{
        margin-left: -15px;
    }
    .swiper-slide img{
        width: 270px;
        height: 390px;
        margin-bottom: 2rem;
    }
    .swiper{
        width: 280px;
        height: 400px;
    }
    video{
        height: 400px;
    }
    .services__card button{
        left: 90px;
        top: 355px;
    }
    .services__card:nth-child(4) button{
        left: 80px;
        top: 355px;
    }
    .services__container{
        margin-bottom: 10rem;
    }
    .services__card{
        width: 250px;
    }
    .popular__description_p{
        text-align: center;
    }
    .services{
        margin-bottom: 70rem;
    }
    .footer .box-container{
        margin: 3rem 2rem ;
    }
    footer{
        margin-top: 10rem;
    }
}
